{% extends 'base.html' %}

{% block content %}
    <h1>Esta é a página de games!</h1>
    <hr>
    <p><strong>Game mais jogado no momento:</strong></p>
    {# Comentário no Jinja2 #}

    {% for k, v in game.items() %}
    <details>
        <summary>{{k}}</summary>
        <p>{{v}}</p>
    </details>
    {% endfor %}

    <p>O jogo {{game['Título']}} tem {{2024-game['Ano']}} anos.</p>
    <p>Está sendo jogado por:</p>
    <!-- <p>{{jogadores}}</p> -->
    <ol>
        {% for jogador in jogadores %}
        <li>{{jogador}}</li>
        {% endfor %}
    </ol>

    <h4>Entrar no jogo:</h4>

    <form action="{{url_for('games')}}" method="POST">
        <label>Jogador:</label>
        <input type="text" name="jogador">
        <input type="submit" value="Entrar">
    </form>

    <hr>
    <h4>Jogos:</h4>
    <ol>
        {% for jogo in jogos %}
        <li>{{jogo}}</li>
        {% endfor %}
    </ol>

    <form action="{{url_for('games')}}" method="POST">
        <label>Jogo:</label>
        <input type="text" name="jogo">
        <input type="submit" value="Cadastrar">
    </form>
{% endblock content %}