{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">Galeria</h2>
<div class="row">
    {% for img in imagens %}
    <div class="col-md-3 m-auto">
        <img src="/static/uploads/{{img.filename}}" class="img-thumbnail">
    </div>
    {%endfor%}
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="alert alert-{{category}}">
            {{message}}
        </div>
    {% endfor %}
{% endwith %}
<div class="container col-6">
    <div class="card mt-4">
        <div class="card-body">
            <form action="{{url_for('galeria')}}" method="POST" enctype="multipart/form-data">
                <input type="file" class="form-control" name="file" required>
                <br>
                <button type="submit" class="btn btn-danger">Enviar</button>
            </form>
        </div>
    </div>
</div>
    


{% endblock content %}