<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <h1>Essa é a página de games!</h1>
    <hr>
    {#Comentário no Jinja2#}
    <p><strong>Game mais jogado no momento</strong></p>
    {% for k, v in game.items() %}
    <details>
        <summary>{{k}}</summary>
        <p>{{v}}</p>
    </details>
    {%endfor%}
    <p>O jogo {{game['Título']}} tem {{2024-game['Ano']}} anos.</p>
    <p>Está sendo jogado por:</p>
    {#<p>{{jogadores}}</p>#}
    <ol>
        {% for jogador in jogadores %}
            <li>{{jogador}}</li>
        {% endfor %}
    </ol>
</body>
</html>